 <form [formGroup]="form">
    <div>
        <label>model:</label>
        <input type="text" formControlName="model">
    </div>

    <div>
        <label>year:</label>
        <input type="number" formControlName="year">
    </div>
    <div>
        <label>price:</label>
        <input type="number" formControlName="price">
    </div>
     <button [disabled]="form.invalid" (click)="create()">Create</button>
 </form>

<div *ngIf="car" class="car-container">
    {{car.id}}. {{car.model}}
</div>
