/* You can add global styles to this file, and also import other style files */
app-root{
    font-size: 1.1rem;
    font-family: "Helvetica";
    margin: .5rem .8rem;
}

ul {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

li, div{
    padding: .5rem .1rem;
    list-style: none;
}

li > a {
    text-decoration: none;
    background-color: black;
    padding: 1rem;
    color: white;
}

li > a:hover {
    box-shadow: 5px 10px 13px black;
}

.link-active {
    border: 1px solid red;
    background-color: red;

}


div:hover, a:hover{
    background-color: black;
    color: white;
}

main {
    border: 1px solid black;
    width: 80vw;
    height: 80vh;
    overflow:auto;
    padding: 1rem;
    margin: 2rem auto;
}
 main a{
     text-decoration: none;
     padding: .5rem .1rem;

 }


/*li:before {*/
/*    position: absolute;*/
/*    content: " ";*/
/*    left: -20px;*/
/*    top: 10px;*/
/*    background: rgb(252,254,120);*/
/*    background: linear-gradient(90deg, rgba(0,212,255,1) 50%, rgba(252,254,120,1) 50%);*/
/*    border: .5px solid black;*/
/*    width: 18px;*/
/*    height: 13px;*/
/*    z-index: -1;*/
/*}*/