/* You can add global styles to this file, and also import other style files */

:root{
    --primary-color: black;
    --secondary-color: white;
    --active-color: red;
}

app-root{
    font-size: 1.1rem;
    font-family: "Helvetica";
    margin: .5rem .8rem;
}

ul {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

li, div{
    padding: .5rem .1rem;
    list-style: none;
}

li > a {
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 1rem;
    color: var( --secondary-color);
}

li > a:hover {
    box-shadow: 5px 10px 13px var(--primary-color);
}

.link-active {
    border: 1px solid var(--active-color);
    background-color: var(--active-color);

}


div:hover, a:hover{
    background-color: var(--primary-color);
    color: var( --secondary-color);
}

main {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 80vw;
    height: 80vh;
    overflow:auto;
    padding: 1rem;
    margin: 2rem auto;
}
 main a{
     display: block;
     color: var(--primary-color);
     text-decoration: none;
     padding: .5rem .1rem;
 }




/*li:before {*/
/*    position: absolute;*/
/*    content: " ";*/
/*    left: -20px;*/
/*    top: 10px;*/
/*    background: rgb(252,254,120);*/
/*    background: linear-gradient(90deg, rgba(0,212,255,1) 50%, rgba(252,254,120,1) 50%);*/
/*    border: .5px solid black;*/
/*    width: 18px;*/
/*    height: 13px;*/
/*    z-index: -1;*/
/*}*/