.comment-link{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
}

.comment-link > div{
    padding: .5rem;
}

.comment-link > div > a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: .2rem .5rem;
}
.comment-link > div > a.active{
    color: red;
}